NavLink{
  text-decoration: none;
}
.navegador{
background-color: #FFFFFF;
justify-content: end;
box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
height: 80px;
z-index: 1;
}

.logo {
    padding: 1.5em;
    will-change: filter;
    position: absolute;
}

.btnConteiner{
  justify-content: end;
}


.Link{
    margin: 25px;
    font-size: x-large;
    flex-direction: row;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    text-decoration: none;
    color: #C87E5D;
   
    
    
}

nav {
    font-size: larger;
  }
  
  nav .logo {
    margin-right: 60px;

  }
  
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  nav li {
    display: inline;
    font-size: larger;
    margin: 4px;
  }
  
  nav .boton {
    width: 180px;
    text-align: center;
    font-size: x-large;
    background-color: #b17f48;
    color: #56381f;
    font-family: "Indie Flower", cursive;
    font-weight: bolder;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, right top, from(yellow), to(brown));
    background-image: linear-gradient(to right, yellow, brown);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
  }

  @media (max-width: 480px){
    .navegador{
      height: 12vh;
      padding: 15px;
      z-index: 2;
    }

    #logo{
      overflow: hidden;
      height: 40px;
      width: 40px;
    }

    .btnConteiner{
      display: flex;
    }

    .linkConteiner{
      display: grid;
      place-items: center;
      width: 80%;
      height: 641px;
      background-image: url(https://res.cloudinary.com/dfd5jte9n/image/upload/v1678560580/WhatsApp_Image_2023-03-11_at_15.16.40-min_ykxojf.jpg);
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
    }

    .Link{
      font-size: 20px;
      font-weight: 800;
    }
  }
