// -------------------- VARIABLES

// colors

$black: #000000;
$white: #ffffff;

$grey-200: #f7f7f7;
$grey-400: #979797;

$color1: #c87e5d;
$color2:#bd857c;
$color3:#f0d8ce;
$color4:#9b915e;
$color5:#5b3619;

// typo

$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// breakpoints

$sm: 250px;
$md: 768px;
$lg: 992px;
$xl: 1023px;
$xxl: 1400px;