/*.body{
    background-image: url(../assets/pink.wave.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 550px;
}

.tituloContacto{
text-align: center;
margin-top: 40px;
font-family: 'Gilroy';
font-style: normal;
font-weight: $extra-bold;
font-size: 40px;
line-height: 150%;
letter-spacing: -0.019em;
text-transform: capitalize;
color: $color5;
}

.contenedorBody{
    text-align: center;
    align-content: center;   
}

.href{
    text-decoration: none;
    display: flex;
    justify-content:space-evenly;
    width:100%
}

.botonInstagram{
    background-color: $color6;
    width: 866px;
    height: 108px;
    left: 206px;
    top: 240px;
    border-radius: 12px;
    border-style: hidden;
    margin-right: 40px;
}

.textoBotonInstagram{
    display: inline;
    height: 40.499996185302734px;
    top: 263px;
    margin-left: 55px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: $extra-bold;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.019em;
    color: $white;
    width: 50%;
}


.iconInstagram{
    height: 42.5px;
    width: 40.833335876464844px;
    border-radius: 0px;
    color: $color1;
    margin-top: 10px;
    }

.botonWhatsapp{
    
    background-color: $color6;
    width: 866px;
    height: 108px;
    left: 206px;
    top: 240px;
    border-radius: 12px;
    border-style: hidden;
    margin-right: 40px;
    margin-top: 20px;
}

.textoBotonWhatsapp{
    display: inline;
    text-align: start;
    height: 40.499996185302734px;
    top: 387px;
    border-radius: nullpx;
    text-align: start;
    margin-left: 55px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: $extra-bold;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.019em;
    text-transform: capitalize;
    width: 50%;
    color: $white;

}

.iconContainer2{
    width: 50%;
    text-align: end;
    margin-right: 20px;
}

.iconContainer1{
    width: 50%;
    text-align: end;
    margin-right: 20px;
}

.iconWhatsapp{
    height: 42.5px;
    left: 4.08349609375px;
    top: 4.25px;
    border-radius: 0px;
    color: $color1;
    margin-top: 10px;   
}

.Feed{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.innerText{
    display: inline;
    width: 145px;
    height: 147px;
    background-color:$color5 ; 
}


@media (max-width: 360px){

    .body{
        width: 100%;
        background-image: url(../assets/pink.wave.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 450px;
    }
    

    .href{
        text-decoration: none;
        display: flex;
        justify-content:space-evenly;
        width:100%
    }
    
    .botonInstagram{
        background-color: $color6;
        width: 328px;
        height: 80px;
        left: 206px;
        top: 240px;
        border-radius: 12px;
        border-style: hidden;
        margin-right: 40px;
    }
    
    .textoBotonInstagram{
        display: inline;
        height: 40.499996185302734px;
        top: 263px;
        margin-left: 15px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: $extra-bold;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: -0.019em;
        color: $white;
        width: 50%;
    }
    
    
    .iconInstagram{
        height: 20px;
        width: 20px;
        border-radius: 0px;
        color: $color1;
        margin-top: 10px;
    }
    
    .botonWhatsapp{
        
        background-color: $color6;
        width: 328px;
        height: 80px;
        left: 206px;
        top: 240px;
        border-radius: 12px;
        border-style: hidden;
        margin-right: 40px;
        margin-top: 20px;
    }
    
    .textoBotonWhatsapp{
        display: inline;
        text-align: start;
        height: 40.499996185302734px;
        top: 387px;
        border-radius: nullpx;
        text-align: start;
        margin-left: 15px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: $extra-bold;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: -0.019em;
        text-transform: capitalize;
        width: 50%;
        color: $white;
    
    }
    
    .iconContainer2{
        width: 50%;
        text-align: end;
        margin-right: 20px;
    }
    
    .iconContainer1{
        width: 50%;
        text-align: end;
        margin-right: 20px;
    }
    
    .iconWhatsapp{
        height: 20px;
        width: 20px;
        left: 4.08349609375px;
        top: 4.25px;
        border-radius: 0px;
        color:$color1;
        margin-top: 10px;   
    }
    
    .Feed{  
        display: flex;
        justify-content: space-evenly;
    }
    
    .innerText{
        display: inline;
        width: 69px;
        height: 69px;
        background-color: $color5;
    }    

    .claseButton{
        width: 270px;
        height: 50px;
    }

    .reserva{
        width: 250px;
        height: 51px;
    }

    #yogaConteiner{
        height: 70px;
        display: grid;
        place-content: center;
    }

    .Link{
        font-size: 20px;
    }
}*/

