#pictureBio {
  height: 280px;
}

.botonBio{
  width: 437px;
  border-style: none;
}

@media (max-width: 360px) {
  #titleBio {
    font-size: 18px;
  }

  #textBio {
    font-size: 14px;
  }

  .botonBio{
    width: 270px;
    border-style: none;
  }

  #pictureBio {
    height: 140px;
  }
}
