#pictureBio {
  height: 280px;
}

.botonBio{
  width: 437px;
  border-style: none;
}

@media (max-width: 400px) {
  #titleBio {
    font-size: 1.5rem;
  }

  #textBio {
    font-size: 1.5rem;
  }

  .botonBio{
    width: 90%;
    border-style: none;
  }

  #pictureBio {
    height: 140px;
  }
}
