
.cardConteiner{
    background-image: url(../assets/fondo-waves.svg);
    background-size: cover;
    display: grid;
    place-items: center;
    height: 700px;
}

.titulo{
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.titleClases{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;  
    color: #5B3619;
    width: 120px;
    height: 60px;
}

.card {
    border-style: none;
    width: 731px;
    height: 381px;
    display: grid;
    place-items: center;

    height: fit-content;
}

.picture{
height: 180px;
width: 100%;
}

.cardBody{
    background: rgba(189, 133, 124, 0.8);
    width: 100%;
}

.texto{
    text-align: center;
    text-decoration: none;
    font-family: Gilroy;
    font-size: 35px;
    font-weight: 800;
    line-height: 53px;
    letter-spacing: -0.019em;
}

#yogaConteiner{
    display: grid;
    place-content: center;
    place-items: center;
}

#Yoga{
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
}

#Talleres{
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
}

#skincare{
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 35px; 
}

#guasha{
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
}

#niveles{
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
}

#personalizadas{
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
}

.claseButton{
    background-color: #C87E5D;
    width: 540px;
    height: 81px;
    border-style: none;
    opacity: 90%;
    display: grid;
    place-content: center;

}

#btnReserva{
margin-bottom: 25px;
}

.reserva{
    text-align: center;
    text-decoration: none;
    font-family: Gilroy;
    font-size: 35px;
    font-weight: 800;
    line-height: 53px;
    letter-spacing: -0.019em;
    color: #FFFFFF;
}

.linkReserva{
    text-decoration: none;
}


@media (max-width: 360px){
.cardConteiner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 770px;
}

.titleClases{
    width: 96px;
    height: 48px;
}

.card {
    margin-top: -130px;
    width: 328px;
    height: 171px;
}

.reserva{
    font-size: 18px;
    position: absolute;
    line-height: 150%;
}

#Yoga{
    font-size: 35px;
}

#Talleres{
    font-size: 35px;
}

#skincare{
    font-size: 35px; 
}

#guasha{
    font-size: 35px;
}

#niveles{
    font-size: 35px;
}

#personalizadas{
    font-size: 35px;
}



}