.cardConteiner{
    background-image: url(../assets/fondo-waves.svg);
    background-size: cover;
   
    display: grid;
    place-items: center;
    height: 700px;
}

.card {
    background-color: red;
    border-style: none;
    width: 50%;
    display: grid;
    place-items: center;
    height: fit-content;
}

.picture{
height: 180px;
width: 100%;
}

.cardBody{
    background: rgba(189, 133, 124, 0.8);
    width: 100%;
}

.texto{
    text-align: center;
    text-decoration: none;
    font-family: Gilroy;
    font-size: 35px;
    font-weight: 800;
    line-height: 53px;
    letter-spacing: -0.019em;
}


#Yoga{
    color: #FFFFFF
}

#yogaConteiner{
    display: grid;
    place-content: center;
    place-items: center;
}

#Talleres{
    color: #FFFFFF
}
.claseButton{
    background-color: #C87E5D;
    width: 540px;
    height: 81px;
    border-style: none;
    opacity: 90%;
}

#btnReserva{
margin-bottom: 25px;
}