
.body{
    background-image: url(../assets/pink.wave.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 550px;
}

.tituloContacto{
text-align: center;
margin-top: 40px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 150%;


letter-spacing: -0.019em;
text-transform: capitalize;

color: #5B3619;

}

.contenedorBody{
    text-align: center;
    align-content: center;   
}

.href{
    text-decoration: none;
    display: flex;
    justify-content:space-evenly;
    width:100%
}

.botonInstagram{
    
    background-color: #CDC8AF;
    width: 866px;
    height: 108px;
    left: 206px;
    top: 240px;
    border-radius: 12px;
    border-style: hidden;
    margin-right: 40px;
}


.textoBotonInstagram{
    display: inline;
    height: 40.499996185302734px;
    top: 263px;
    margin-left: 55px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.019em;
    color: #FFFFFF;
    width: 50%;
}


.iconInstagram{
    height: 42.5px;
    width: 40.833335876464844px;
    border-radius: 0px;
    color: #C87E5D;
    margin-top: 10px;
    }

.botonWhatsapp{
    
    background-color: #CDC8AF;
    width: 866px;
    height: 108px;
    left: 206px;
    top: 240px;
    border-radius: 12px;
    border-style: hidden;
    margin-right: 40px;
    margin-top: 20px;
}

.textoBotonWhatsapp{
    display: inline;
    text-align: start;
height: 40.499996185302734px;
top: 387px;
border-radius: nullpx;
text-align: start;
margin-left: 55px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 150%;
letter-spacing: -0.019em;
text-transform: capitalize;
width: 50%;
color: #FFFFFF;

}

.iconContainer2{
    width: 50%;
    text-align: end;
    margin-right: 20px;
}

.iconContainer1{
    width: 50%;
    text-align: end;
    margin-right: 20px;
}

.iconWhatsapp{
    height: 42.5px;
    left: 4.08349609375px;
    top: 4.25px;
    border-radius: 0px;
    color: #C87E5D;
    margin-top: 10px;

    
}

.Feed{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}



@media (max-width: 360px){

    .contenedorBody{
    
    }

    .body{
        width: 100%;
        background-image: url(../assets/pink.wave.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 420px;
    }
    

    .href1{
        text-decoration: none;
        display: flex;
        justify-content:space-evenly;
        width:100%
    }

    .href{
        text-decoration: none;
        display: flex;
        justify-content:space-evenly;
        width:100%
    }
    
    .botonInstagram{
        
        background-color: #CDC8AF;
        width: 328px;
        height: 80px;
        left: 206px;
        top: 240px;
        border-radius: 12px;
        border-style: hidden;
        margin-right: 40px;
        margin: auto;
    }
    
    .textoBotonInstagram{
        display: grid;
        place-items: center;
        margin-left: 15px;
        font-size: 20px;
        width: 50%;
    }
    
    
    .iconInstagram{
        height: 30px;
        width: 30px;
        border-radius: 0px;
        color: #C87E5D;
        margin-top: 10px;
        }
    
    .botonWhatsapp{
        width: 328px;
        height: 80px;
        left: 206px;
        top: 240px;
        margin: auto;
        margin-top: 20px;
    }
    
    .textoBotonWhatsapp{
        display: grid;
        place-items: center;
        top: 387px;
        margin-left: 15px;
        font-size: 20px;
        width: 50%;
    }
    
    .iconContainer1{
        display: grid;
        place-items: end;
        margin-bottom: 50%;
        width: 50%;
        margin-right: 20px;
    }
    
    .iconContainer2{
        display: grid;
        place-items: end;
        margin-bottom: 50%;
        width: 50%;
        margin-right: 20px;
    }
    
    .iconWhatsapp{
        height: 30px;
        width: 30px;
        left: 4.08349609375px;
        top: 4.25px;
        border-radius: 0px;
        color: #C87E5D;
        margin-top: 10px;   
    }
    
    .Feed{
        
        display: flex;
        justify-content: space-evenly;
    }
    
    #contactosImg{
            display: inline;
            width: 90%;
            height: 90%;
            margin-bottom: 35px; 
        }
    

    .claseButton{
        width: 270px;
        height: 50px;
    }

    .reserva{
        width: 250px;
        height: 51px;
    }

    #yogaConteiner{
        height: 70px;
        display: grid;
        place-content: center;
    }

    .Link{
        font-size: 20px;
    }
}