.body {
  background-image: url(../assets/pink.wave.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 480px;
}

.tituloContacto {
  text-align: center;
  margin-top: 40px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: -0.019em;
  text-transform: capitalize;
  color: #5b3619;
}

.contenedorBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.href {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.botonContacto {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 60%;
  background-color: #cdc8af;
  padding: 10px;
  border-radius: 12px;
  border-style: hidden;
  margin-bottom: 15px;
}

.textoBoton {
  font-family: "Gilroy";
  font-weight: normal;
  font-size: 30px;
  color: #ffffff;
}

.icon {
  font-size: 45px;
  color: #c87e5d;
}

.iconContainer .icon {
  width: 40px;
  height: 40px;
}

.iconContainer {
  width: 50%;
  text-align: end;
}

.botonContacto:hover {
  background-color: #cdc8af;
  transition: all 0.2s ease-out;
  transform: scale(1.1);
  font-weight: 700;
}

.Feed {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 426px) {
  .body {
    width: 100%;
    background-image: url(../assets/pink.wave.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 420px;
  }

  .href {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .botonContacto {
    border-radius: 12px;
    margin: 8px;
  }

  .textoBoton {
    font-size: 20px;
    display: grid;
    place-content: center;
  }

  .icon {
    height: 30px;
    width: 30px;
    color: #c87e5d;
  }

  #iconInstagram{
    height: 30px;
    width: 30px;
  }

  #iconWhatsapp{
    height: 30px;
    width: 30px;
  }

  #iconContainerWpp{
    margin-left: 50px;
  }

  .boton:hover {
    font-weight: 600;
    background-color: #cdc8af;
    transition: all 0.2s ease-out;
    transform: scale(1.08);
  }


  .Feed {
    text-align: center;
    padding: 10px;
  }

  #contactosImg {
    display: inline;
    width: 90%;
    height: 90%;
    margin-bottom: 35px;
  }

  .claseButton {
    width: 270px;
    height: 50px;
  }

  .reserva {
    width: 250px;
    height: 51px;
  }

  #yogaConteiner {
    height: 70px;
    display: grid;
    place-content: center;
  }

  .Link {
    font-size: 20px;
  }
}
