.homeConteiner{
    height: 800px;
    display: grid;
    place-items: center;
}

.carousel{
    margin: 15px;
}

.infoHome{
    background-image: url('../assets/fondo-waves.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    
}