.homeConteiner{
    height: 800px;
    display: grid;
    place-items: center;
}

.carousel{
    margin: 15px;
}

.infoHome{
    background-image: url('../assets/fondo-waves.svg');
    background-size: cover;
    background-repeat: no-repeat;  
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.vision{
    display: grid;
    place-items: center;
    width: 50%;
    color: #5B3619;
    text-align: center;

}

.testimonios{
    display: grid;
    place-items: center;
    width: 50%;
    color: #5B3619;
    text-align: center;
}

.Feed{
    background-color: royalblue;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.innerText{
    display: inline;
    
}