.homeConteiner{
    display: grid;
    place-items: center;
}

.infoHome{
    background-image: url(../assets/fondo-waves.svg);
    background-size:cover;
    background-repeat: no-repeat; 
    background-position: center;
    width: 100%;
    display: grid;
    place-items: center;
    
}

.vision{
    display: grid;
    place-items: center;
    width: 50%;
    color: #5B3619;
    text-align: center;
    margin-top: 80px;
}

.miVisionTexto{
    font-size: 1.5rem;
    font-family: 'Gilroy';
}

.testimonios{
    display: grid;
    place-items: center;
    width: 50%;
    color: #5B3619;
    text-align: center;
}

.picturesHome{
    width: 100%;
    margin-bottom: 30px;
}

.FeedHome{
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
}

/*Mobile Responsive*/

@media (max-width: 400px){

    .homeConteiner{
        height: auto;
    }

    .carousel-indicators{
        z-index: 1;
    }

    .infoHome{
        display: grid;
        place-items: center;
        text-align: center;
        background-position: center;
        height: auto;   
    }

    .vision{
        display: grid;
        place-items: center;
        color: #5B3619;
        text-align: center;

    }
    
    .testimonios{
        display: grid;
        place-items: center;
        color: #5B3619;
        text-align: center;
    }

    .FeedHome{
        text-align: center;
        padding: 10px;
    }

    .picturesHome{
        width: fit-content;
        height: 50%;
    }

    #homeImg{
        display: inline;
        width: 90%;
        margin-bottom: 35px; 
        padding: auto;
    }

}