.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  height: 550px;
}

.containerBackground {
  background-image: url("https://res.cloudinary.com/duqn8v8te/image/upload/v1678336467/wave-pink_uaogfj.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  /* Para mover img tocar el position o el size */
}

#titleInfo{
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  color: #5B3619;
}

#textInfo{
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  color: #5B3619;
}

@media (max-width: 360px){

  .containerBackground {
    background-position: center;
  }

  .banner {
    height: 350px;
  }

  .botonMenu {
    width: 80%;
  }

  .iconMenu {
    size: 50%;
  }

  .textoMenu {
    font-size: 20px;
    margin: auto;
    width: fit-content;
  }

}

