#guashaText{
    background-image: url(../assets/wave-verde.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 640px;
    display: grid;
    place-items: center;
    width: 100%;
}

#guashaConteiner {
    width: "51rem";
    font-size: 30px;
}

@media (max-width: 400px){

    .SGuashaConteiner{
        display: grid;
        place-items: center;
        width: fit-content;
    }

    #guashaConteiner {
        display: grid;
        place-items: center;
        width: fit-content;
        height: fit-content;
    }

    #guashaText{
        display: grid;
        place-items: center;
        height: fit-content;
    }

    #textConteinerGuasha{
        font-size: 1.5rem ;
        margin: auto;
        padding: 20px;
    }
}