#skincareConteiner{
    background-image: url(../assets/wave-verde.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
    display: grid;
    place-items: center;
    width: 100%;
}

#skincareText{
    font-size: 30px;
    font-family: 'Gilroy';
}


/*Mobile Responsive*/

@media (max-width: 480px){
    #skincareText{
        font-size: 1.5rem;
        padding: 20px;
    }

    #skincareConteiner{
        height: fit-content;
    }
    
}