.parrafoSY {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://res.cloudinary.com/duqn8v8te/image/upload/v1678341367/banner_amxmuc-removebg_cqq494.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 100% auto;
  height: 500px;
  width: 100%;
  padding-top: 15px;
  font-size: 1.8rem;
}

.textoVideoYoga {
  color: #5b3619;
}

.boton {
  margin-top: 20px;
}

@media (max-width: 360px) {
  .parrafoSY {
    height: fit-content;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
  }

  .textoVideoYoga {
    color: #5b3619;
    font-size: 18px;
  }
}
