.parrafoSY{
    background-image: url("https://res.cloudinary.com/duqn8v8te/image/upload/v1678289532/Ellipse_41_1_amohjy.png");
    background-size: cover;
    display: grid;
    place-items: center;
    height: 700px;
    width: 100%;
}