.parrafoSY {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://res.cloudinary.com/duqn8v8te/image/upload/v1678341367/banner_amxmuc-removebg_cqq494.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 100% auto;
  height: 500px;
  width: 100%;
}

.textoVideoYoga{
  color: #5B3619;
}

.hero {
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  /* Si lo queres sacar dejalo en 90 */
  min-height: 110vh;  
}

.hero__video { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
}


@media (max-width: 360px){
  .hero__video {
    width: auto;
    height: auto
  }

  .parrafoSY{
    height: fit-content;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
  }

  .textoVideoYoga{
    color: #5B3619;
  }
  

}